autom4te.cache
*.in
config.*
compile
*.m4
configure
depcomp
*.info
mdate-sh
stamp-*
texinfo.tex
version.texi
install-sh
missing
Makefile
.deps
*_test

# products
deckgen
solitaire

# *.log is output from make check
*.log

# *.dat and *.deck are sample extensions for deckgen
*.dat
*.deck
